<div class="row" ng-controller="comprasController" >
<div class="img">
<img alt="" src="https://static.pexels.com/photos/50987/money-card-business-credit-card-50987.jpeg" class="img1">


</div>

	<div class="col-md-6 ">
		<div class="row">

			<label>Codigo del representante: {{codigo}}</label>
			<h4>Productos</h4>
			<table class="table highlight responsive-table centered">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Promocion</th>
						<th>Accion</th>
						
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="c in productos">
						<td>{{c.id}}</td>
						<td>{{c.nombre}}</td>
						<td>{{c.precioVenta}}</td>
						<td>{{c.promocion.descuento}}%</td>
					
						<td>
							<button class="btn botonComprar" type="submit"
								name="action" value="Calificar" ng-click="">Calificar								
							</button>
						</td>
					</tr>

				</tbody>
			</table>

		</div>
	</div>
	<div class="col-md-6 separar">
		<div class="row">

			<label></label>
			<h4>Carrito Compras</h4>
			<table class="table highlight responsive-table centered">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Cantidad</th>
						
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="g in acomprar">
						<td>{{g.id}}</td>
						<td>{{g.nombre}}</td>
						<td>{{g.precioVenta}}</td>
						<td>{{g.promocion.descuento}}%</td>
						<td>
							<button class="btn waves-effect waves-light" type="submit"
								name="action" value="Calificar" >Calificar								
							</button>
						</td>
					</tr>

				</tbody>
			</table>

		</div>
	</div>
	<button class="btn botonComprar" type="submit"
								name="action" value="Comprar">Comprar								
							</button>
</div>