<div class="row" ng-controller="inventarioController">
<div class="img">
<img alt="" src="https://static.pexels.com/photos/167686/pexels-photo-167686.jpeg" class="img2">
</div>
	<div class="col-md-12">
		<div class="row">

			<label>Codigo del representante: {{codigo}}</label>
			<h4>Inventarios de Productos</h4>
			<table class="table highlight responsive-table centered">
				<thead>
					<tr>
						<th># Productos</th>
						<th>Nombre</th>
						<th>Cantidad</th>
						<th>Precio Base</th>
						
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="n in listaProductos">
						
						<td>{{n.producto.id}}</td>
						<td>{{n.producto.nombre}}</td>
						<td>{{n.cantidad}}</td>
						<td>{{n.precioBase}}</td>
						
					</tr>

				</tbody>
			</table>
			<div class="editPro">
			<div class="default">
				<div class="col-sm-4 col-sm-offset-4">
					<input type="text" class="" id="nombre" name="nombre"
						ng-model="formData.id" placeholder="Id producto" />
				</div>
			</div><div class="default">
				<div class="col-sm-4 col-sm-offset-4">
					<input type="text" class="" id="nombre" name="nombre"
						ng-model="formData.precio" placeholder="Precio Base" />
				</div>
			</div>
			
			<button class="btn waves-effect waves-light" type="submit"
								name="action1"  ng-click="buscar(formData.id)">Buscar							
							</button>
							<button class="btn waves-effect waves-light" type="submit"
								name="action2"  ng-click="editar(formData.id,formData.precio)">Editar								
							</button>
							</div>

		</div>
	</div>
</div>