@CHARSET "ISO-8859-1";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background-image: url("../images/image0.jpg");
}

.imag {
	position: absolute;
	left: 20%;
	top: 5%;
}

#formLogin {
	position: absolute;
	left: 30%;
	top: 60%;
}

.forma{
	background-color: #B9B9B9;
}

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	height: 42px;
	width: 100%;
	background-color: #B9B9B9;
}

.bottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	color: #8E969D;
}

.tablaDat {
	border: 1px solid #CAD6E0;
	width: 400px;
	margin-left: 35%;
}

#containerLog {
	background-color: rgba(37, 32, 32, 0.43);
	width: 500px;
	position: absolute;
	left: 32%;
	top: 12%;
	height: 500px;
}

.ali {
	margin: 0 0 0 55%;
}